/* Master Styles */
@media(min-width:300px){
body {
    margin: 10px;

}
.container {
    display:grid;
    grid-template-columns: 1fr;

}
.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 38px
}
.left-side {
    display:flex;

}
.nav-wrapper > .left-side > div {
    margin-right:20px;
    font-size: 50px;
    text-transform: uppercase;
}
.nav-wrapper > .right-side {
    font-size: 50px;
    text-transform: uppercase;
    color: #8a8a8a;

}
.nav-link-wrapper {
    height: 50px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link-wrapper:hover {
    border-bottom: 4px solid rgb(71, 60, 60);
}
.nav-link-wrapper a:hover {
    color:blanchedalmond;
}
.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}
.portfolio-item-wrapper {
    position: relative;
}
.portfolio-img-background {
    height: 700px;
    width: 100%;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.img-text-wrapper {
    position:absolute;
    top: 0;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}
.img-text-wrapper .subtitle {
    transition: 2s;
    color: transparent;
    padding: 35pt;
    font-size: 50pt;

}
.img-text-wrapper:hover .subtitle {
    font-size: 50pt;
    color:white;
    background-position: center;
    text-align: center;
}
.img-darken {
    transition: 1s;
    filter: brightness(10%);
}
}

